.time{
  //height: 60px;
  //width: 60px;
}

.time select{
  //height: 100%;
  text-align: center;
  margin-top: 15px;
}

.time option{
  padding:15px;
}


option.service-small {
  font-size: 34px;
  padding: 5px;
  background: #5c5c5c;
}
