<c-card>
  <c-card-body>
    <div class="row" [formGroup]="form">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <input cFormControl (keyup)="filter()" type="text" formControlName="name" placeholder="Customer Name">
      </div>
      <div *ngIf="isSearching" class="col-md-1 col-sm-1 col-lg-1" style="padding-top: 5px">
        <a (click)="getData()" class="text-danger-custom">
          <c-icon class="text-danger" name="cil-trash" size="lg"></c-icon>
        </a>
      </div>
    </div>
  </c-card-body>
</c-card>

<div class="table-responsive card">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
<!--        <th scope="col">Address</th>-->
        <th scope="col">NIC</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number 1</th>
<!--        <th scope="col">Phone Number 2</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of li">
        <td>{{l.name}}</td>
<!--        <td>{{l.address}}</td>-->
        <td>{{l.nic}}</td>
        <td>{{l.email}}</td>
        <td>{{l.mobileOne}}</td>
<!--        <td>{{l.mobileTwo}}</td>-->
        <td>
          <a (click)="delete(l)" class="text-danger-custom">
          <c-icon class="text-danger" name="cil-trash" size="lg"></c-icon>
          </a>
          <a [state]="{type: 'edit', data: l}" [routerLink]="['../edit', l.id]" class="text-warning-custom">
            <c-icon class="text-warning" name="cil-pencil" size="lg"></c-icon>
          </a>
          <a [state]="{type: 'view', data: l}" [routerLink]="['../view', l.id]" class="text-success-custom">
            <c-icon class="text-success" name="cil-magnifying-glass" size="lg"></c-icon>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colSpan="4" style="padding-bottom: 0 !important;">
          <app-custom-pagination (pageChange)="pageChange($event)" [total]="totalItems" [pageSize]="pageSize"></app-custom-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
