<c-card>
    <c-card-body>
        <div class="row" [formGroup]="form">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <input cFormControl  type="date" formControlName="from" placeholder="Stock Item">
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <input cFormControl  type="date" formControlName="to" placeholder="Stock Item">
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <button [disabled]="!form.valid" (click)="filter()" cButton>Search</button>
            </div>
        </div>
    </c-card-body>
</c-card>


<div class="table-responsive card">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Date</th>
            <th scope="col">Amount (LKR)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let l of data;let i = index">
            <td>{{i +1}}</td>
            <td>{{l.day | date:'longDate':'UTC'}}</td>
            <td>{{l.amount}}</td>
        </tr>
        </tbody>
    </table>
</div>

